.env
*.db
*.sqlite
node_modules/
WebApi/ClientApp/node_modules/
WebApi/ClientApp/build/
bin/
obj/
.vs/
*.user
pipeline/
bronze/
silver/
gold/
nadena_pipeline/
WebApi/appsettings.json
WebApi/appsettings.Development.json
*.db-shm
*.db-wal
WebApi/Logs/
WebApi/appsettings.Production.json
nadena-environment
.env
WebApi/Logs/
.idea/
*.db
*.db-shm
*.db-wal
